.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 55px;
    justify-content: center;
    list-style: none;
    padding: 24px;
    margin: 0;
}

.gallery__item {
    width: 360px;
    height: auto;
    border: 1px solid #808080;
}

.gallery__link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.gallery__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info {
    padding: 16px;
    display: flex;
    gap: 12px;
    justify-content: space-between;
    background-color: #fff;
}

.info p {
    margin: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #2196F3;
    border-radius: 50%;
    display: none;
    margin: 20px auto;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader.visible {
    display: block;
}
.load-more-hidden {
    display: none;
}   
.load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}